body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea{
	width: 70%;
	height: 300px;
}

input[type="radio"] {
	margin: 0 10px 5px 10px;
	line-height: 40px;
}